<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Recap</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/xyz">XYZ</a></li>
        </ul>
    </div>
</nav>