<%- include('partials/header.ejs') %>
    <%- include('partials/navigation.ejs') %>    
    <h1>Home Page (EJS)</h1>
    <a class="btn-floating btn-large red pulse"><i class="material-icons">record_voice_over</i></a>    
    <form>
        <input type="text" name="address" placeholder="Enter address">
        <button class="btn">Search</button>
    </form>
    <div>
        <h3></h3>
        <p></p>
    </div>
    <br>
<%- include('partials/footer.ejs') %> 